html {
  font-size: 50px;
}
#main_container {
  font-size: 16px;
  background: #eee;
}
#main_container * {
  box-sizing: border-box;
  font-family: PingFangSC-Regular;
}
#main_container .banner-container {
  width: 100%;
  height: 3.173rem;
  margin-top: 1.173rem;
}
#main_container .banner-container .banner img {
  width: 100%;
  height: 100%;
}
#main_container .sale-container {
  width: 100%;
  height: 3.93rem;
  margin-top: .267rem;
  background: #fff;
  padding: .27rem .46rem;
}
#main_container .sale-container .title {
  width: 100%;
  position: relative;
}
#main_container .sale-container .title h3 {
  font-family: PingFangSC-Semibold;
  font-size: 24px;
  color: #5c5c5c;
  letter-spacing: 0.48px;
  display: inline-block;
}
#main_container .sale-container .title .more {
  position: absolute;
  display: inline-block;
  font-size: 20px;
  color: #fb4a4a;
  right: 0;
  top: .1rem;
  padding-right: .43rem;
  background: url(../image/home/home_more@2x.png) right center no-repeat;
}
#main_container .sale-container .swiper-container {
  margin-top: 23px;
}
#main_container .sale-container .swiper-container .sale-item {
  text-align: center;
  width: 1.86rem;
}
#main_container .sale-container .swiper-container .sale-item .picture {
  width: 1.86rem;
  height: 2.13rem;
}
#main_container .sale-container .swiper-container .sale-item .price {
  font-size: 24px;
}
#main_container .type-container {
  margin-top: .267rem;
}
#main_container .type-container ul {
  width: 100%;
  overflow: hidden;
}
#main_container .type-container .type-item {
  width: 4.98rem;
  height: 1.97rem;
  padding: 20px 30px;
  background: #fff;
  float: left;
  margin-top: .0267rem;
}
#main_container .type-container .type-item:nth-child(2n) {
  float: right;
}
#main_container .type-container .type-item a {
  width: 100%;
  height: 100%;
}
#main_container .type-container .type-item fl {
  max-width: 2.32rem;
}
#main_container .type-container .type-item fl .type-name {
  font-size: 28px;
  color: #5c5c5c;
}
#main_container .type-container .type-item fl .type-description {
  font-size: 20px;
  color: #b5b5b5;
}
#main_container .type-container .type-item .type-img {
  width: 1.6rem;
  height: 1.52rem;
}
#main_container .recommend-container {
  margin-top: .267rem;
  width: 100%;
}
#main_container #no-more {
  display: none;
  margin-top: .5rem;
}
#main_container #loading {
  margin-top: .5rem;
  width: 100%;
  position: relative;
  text-align: center;
  font-size: 28px;
  color: #858585;
  letter-spacing: 0.56px;
  display: none;
}
#main_container #content_container {
  margin-bottom: 1.5rem;
}
