html {
  background: #fff;
}
body {
  box-sizing: border-box;
}
#main-container {
  margin-top: 2.8rem;
  padding: 0 .4rem;
}
#main-container .common-btn {
  margin-top: 2.6rem;
}
#main-container .phone-login,
#main-container .forget-pw {
  font-size: 28px;
  margin-top: .4rem;
}
#main-container .reminder {
  font-size: 24px;
  color: #fb4a4a;
  margin-top: .1rem;
}
#main-container .reminder.wrong-pw:before {
  content: '密码不正确喔';
}
#main-container .reminder.not-in:before {
  content: '该手机号尚未注册哟';
}
